{% extends 'touglates/base.html' %}
{% load static %}
{% load touglates_tags %}
<!DOCTYPE html>
<html lang='en'>
<head>
<title>SDC Brevo</title>
<script src="{% static 'touglates/touglates.js' %}"></script>
{% block head_stylesheet %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'sdc_brevo/sdc_brevo.css' %}">
	{% if base_context_settings.main_css %}<link rel="stylesheet" href="{% static base_context_settings.main_css  %}">{% endif %}
{% endblock %}
</head>
{% block body %}
	<body>
	{% if messages %}
	  <ul class="messages">
	    {% for message in messages %}
	    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	  </ul>
	{% endif %}
	{% block menu %}
	{% if base_context_settings.main_menu %}
		{% include base_context_settings.main_menu %}
		{% endif %}
	{% include './_app_menu.html' %}
	{% endblock %}
	{% block content %}
	{% endblock %}
	{% block bottomscript %}
	{% endblock %}
	</body>
{% endblock %}
</html>
